<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Locations</title>
<!--/*/ <th:block th:include="/fragments/scripts :: head"></th:block> /*/-->
</head>
<body>
	<table id="example" style="width: 100%">
		<thead>
			<tr>
				<th>street</th>
				<th>street number</th>
				<th>postal code</th>
				<th>town</th>
				<th>edit</th>
				<th>delete</th>
			</tr>
		<tbody>
			<tr th:each="location: ${locations}">
				<td th:text="${location.street}" />
				<td th:text="${location.streetNumber}" />
				<td th:text="${location.postalCode}" />
				<td th:text="${location.town}" />
				<td><a th:href="@{editLocation/{id}(id=${location.id})}" class="btn btn-secondary">Edit</a></td>
				<td><a th:href="@{deleteLocation/{id}(id=${location.id})}" class="btn btn-danger">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary" href="/private/locations/addLocation">Add Location</a>
	<a class="btn btn-primary" href="/private/alarmgateways/alarmgateways">gateways</a>
	<script>
		$(document).ready(function() {
			$('#example').DataTable();
		});
	</script>
</body>

</html>