<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Locations</title>
<!--/*/ <th:block th:include="/fragments/scripts :: head"></th:block> /*/-->
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar">
			<!--/*/ <th:block th:include="/fragments/sidebar :: sidebar-fragment"></th:block> /*/-->
		</nav>
		<div id="content">
			<!--/*/ <th:block th:include="/fragments/sidebar :: content-fragment"></th:block> /*/-->
			<table id="locations" class="table table-striped table-bordered" style="width: 100%">
				<thead>
					<tr>
						<th>street</th>
						<th>street number</th>
						<th>postal code</th>
						<th>town</th>
						<th>edit/delete</th>
					</tr>
				</thead>
			</table>
			<p class="help-block" th:text="${error}">error summary</p> 
			<br> 
			<a class="btn btn-primary"
				href="/private/locations/addLocation">Add location</a>
		</div>
	</div>
	<script>
		$('table#locations')
				.DataTable(
						{
							ajax : '/restlocations',
							serverSide : true,
							columns : [

									{
										data : 'street'
									},
									{
										data : 'streetNumber'
									},

									{
										data : 'postalCode'
									},

									{
										data : 'town'
									},
									{
										name : 'id',
										data : 'id',
										searchable : false,
										mRender : function(data, type, full) {
											return '<a class="btn btn-primary" href="/private/locations/editLocation/' + data + '">edit</a> <a class="btn btn-primary" href="/private/locations/deleteLocation/' + data + '">delete</a>';
										}
									} ]
						});
	</script>
</body>
</html>