<!DOCTYPE HTML>
<html>
<head>
    <title>Locations</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="/js/jquery.spring-friendly.js"></script> 

</head>
    <body>
    
    <div id="fix-for-navbar-fixed-top-spacing" style="height: 42px;">&nbsp;</div>
            <div class="container">
    
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bootstrap</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../../">Home</a></li>
      <li><a href="../../location">Locaties</a></li>
      <li><a href="../../alarmGateway">Alarm gateways</a></li>
    </ul>
  </div>
</nav>    
    
    <div>
            <h1 align="center">Locaties</h1>
            <p><a href="location/add" class="btn btn-primary">Locatie toevoegen</a></p>
            <table id="locations" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Street</th>
                        <th>Place</th>
                        <th>House number</th>
                        <th>Postal code</th>
                        <th>Telephone</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            
            
    <div class="text-center">
            <div th:if="${error}" class="alert-danger row" >
                <p th:text="${error}"></p>

            </div>
    </div>      
            
            
        </div>
  </div>
    <script>
        $('table#locations').DataTable({
            ajax: '/data/locations',
            serverSide: true,
            select: {
                style: 'single'
            },
            columns: [
                {
                    data: 'id'
                },
                {
                    data: 'street'
                },
                {
                    data: 'place'
                },
                {
                    data: 'housenumber'
                },
                {
                    data: 'postalcode'
                },
                {
                    data: 'telephone'
                },
                {
                    data: 'id',
                    render : function(data, type, row, meta){
                        return '<a class="btn btn-default" role="button" href="../../location/edit/'+ row.id +'">Wijzigen</a>';

                     }
                },
                {
                    data: 'id',
                    render : function(data, type, row, meta){
                        return '<a class="btn btn-default" role="button" href="../../location/delete/'+ row.id +'">Verwijderen</a>';

                     }
                }        
                
            ]
        });
          
    </script>         
    </body>
</html>