<!DOCTYPE HTML>
<html>
<head>
  <title>Add location</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  

</head>
<body>

<div th:fragment="js">
    <script th:inline="javascript">
    $(document).ready(function() {
        $('.js-label-multiple').select2({ theme: "bootstrap" });
    });
    </script>
</div>

    <div id="fix-for-navbar-fixed-top-spacing" style="height: 42px;">&nbsp;</div>

<div class="container">    

 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bootstrap</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../../">Home</a></li>
      <li><a href="../../location">Locaties</a></li>
      <li><a href="../../alarmGateway">Alarm gateways</a></li>
    </ul>
  </div>
</nav>   
  
      
<div class="row col-md-7 table-responsive">    

  
<table id="locationform" class="table">      
      
<form action="#" th:action="@{/addlocation}" th:object="${location}" method="post">

 <thead>
 <tr>
 <th class="th-lg"></th>
 <th class="th-lg"></th>
 <th class="th-lg"></th>
 </tr>
 </thead>

<tbody>

    <tr><td><label for="street">Name</label></td>
    <td><input type="text" th:field="*{street}" id="street" placeholder="Street"/></td>
    <td><span th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span></td></tr>
    
    <tr><td><label for="place">Place</label></td>
    <td><input type="text" th:field="*{place}" id="place" placeholder="Place"/></td>
    <td><span th:if="${#fields.hasErrors('place')}" th:errors="*{place}"></span></td></tr>
    
    <tr><td><label for="place">Housenumber</label></td>
    <td><input type="text" th:field="*{housenumber}" id="housenumber" placeholder="Housenumber"/></td>
    <td><span th:if="${#fields.hasErrors('housenumber')}" th:errors="*{housenumber}"></span></td></tr>
    
    <tr><td><label for="place">Postalcode</label></td>
    <td><input type="text" th:field="*{postalcode}" id="postalcode" placeholder="postalcode"/></td>
    <td><span th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></span></td></tr> 
    
    <tr><td><label for="place">Telephone</label></td>
    <td><input type="text" th:field="*{telephone}" id="telephone" placeholder="telephone"/></td>
    <td><span th:if="${#fields.hasErrors('telephone')}" th:errors="*${telephone}"></span></td></tr>
    
    
    <tr><td><label for="label">Labels</label></td>
    <td>
                    <select class="js-label-multiple" th:field="*{labels}" size="5" multiple="multiple">
                         <option value=""> -- </option>
                         <option th:each="label : ${labelslist}"
                            th:value="${label.id}"
                            th:utext="${label.name}"/>
                  </select>
    </td>
    <td><span th:if="${#fields.hasErrors('labels')}" th:errors="*${labels}"></span></td></tr>
      
    <tr><td><input class="btn btn-primary" type="submit" value="Toevoegen locatie"/></td></tr>       
    
 </tbody>    
           
</form>

 </table>
 </div>

</div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

</body>

</html>