<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>

  <body>
  
  <div class="container">
  
  <div class="row">
	<aside class="col-sm-4">
  
  <div class="card">
<article class="card-body">
  
    <form class="form-signin" th:action="@{/login}" method="POST">
      <h1 class="card-title mb-4 mt-1">Aanmelden</h1>
      
                <div th:if="${errorMsg}">
                    <div class="alert alert-danger">
                        Gebruikersnaam of wachtwoord niet correct
                    </div>
                </div>
                <div th:if="${msg}">
                    <div class="alert alert-info">
                        U bent uitgelogd
                    </div>
                </div>      
      
      <label for="username" class="sr-only">Gebruikersnaam</label>
      <input type="text" name='username' id="username" class="form-control" placeholder="Gebruikersnaam" required autofocus>
      <label for="password" class="sr-only">Wachtwoord</label>
      <input type="password" name='password' id="password" class="form-control" placeholder="Wachtwoord" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Aanmelden</button>
      
    </form>
    
    </article>
    </div>
    
 </div>
 
  </body>
</html>
