<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add label</title>
<!--/*/ <th:block th:include="/fragments/scripts :: head"></th:block> /*/-->
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar">
			<!--/*/ <th:block th:include="/fragments/sidebar :: sidebar-fragment"></th:block> /*/-->
		</nav>
		<div id="content">
			<!--/*/ <th:block th:include="/fragments/sidebar :: content-fragment"></th:block> /*/-->
			<h1>add label</h1>
			<form action="#" th:action="@{saveLabel}" th:object="${label}" method="post">
				<div class="form-group">
					<label>description:</label>
					<input type="text" class="form-control" th:field="*{description}" required />
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>